*{
  margin : 2%;
  padding : 2%;
  box-sizing:border-box;
}


body{
  height: 400px;
  width: 400px;
}

.container{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  flex-direction:column;
  margin:12px;
}

.btn1{
  margin: 12px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 33%;
}


h1{
  color: red;
}
